node_modules/
bower_components/
.git/
.env
.env.example
.DS_Store
CHANGELOG.md
package.json
package-lock.json
yarn.lock

[Bb]in/
[Oo]bj/
[Oo]ut/

.vs/
.vscode/

appsettings.json
appsettings.Development.json
appsettings.Production.json

packages/

*.user
*.suo
*.userosscache
*.sln.docstates

_ReSharper*/
*.ReSharper

**/[Pp]ackages/
**/[Pp]ackages.lock.json

.idea/

.vs/
.vscode/

*.mdf
*.ldf
*.sqlite

*.log
*.log.*

*.[Tt]mp
*.bak
*.cache
*.ilk
*.ncb
*.pdb
*.swp

.DS_Store
Thumbs.db